.client
    background: linear-gradient(to right, #5E80FF 73%, #E0E9FF 81%)
    &__wrapper
        display: flex
    &-block
        width: 50%
        background: linear-gradient(101.48deg, #E9EFFF 41.56%, #E0E9FF 81.53%)
        display: flex
        flex-direction: column
        align-items: flex-start
        padding-top: 66px
        padding-bottom: 66px
        color: #5E80FF
        padding-left: 90px
    &-block:first-child
        display: flex
        background: linear-gradient(229.32deg, #6888FF 12.77%, #5E80FF 73.11%)
        align-items: flex-end
        text-align: right
        padding-left: 0
        padding-right: 90px
    &__icon
        display: block
        height: 62px
        width: 71px
    &__title
        font-weight: normal
        font-size: 48px
        color: #fff
    &__text
        max-width: 260px
        font-weight: 500
        font-size: 18px
        color: #fff
.color
    color: #5E80FF

@media screen and (max-width: 500px)
    .client
        &-block:last-child
            padding-left: 30px
        &-block:first-child
            padding-right: 30px
        