.hero
    &__inner
        padding-top: 91px
        display: flex
        flex-direction: column
        text-align: center
        align-items: center
    &__title
        font-weight: 300
        font-size: 48px
        margin-bottom: 21px
    &__title span
        font-weight: 500
    &__subtitle
        margin-bottom: 16px
    &__text
        margin-bottom: 27px
        max-width: 502px
    &__btn
        border-radius: 50%
        width: 52px
        height: 52px
        border: 1px solid #8d96bd
        display: flex
        align-items: center
        justify-content: center
    &__icon
        height: 11px
@media screen and (max-width: 479px)
    .hero__inner
        padding-top: 50px
