.plan
    &__wrapper
        display: flex
        padding-top: 170px
        padding-bottom: 60px
    &-block
        width: 40%
        position: relative
    &-block:first-child
        padding-top: 50px
        padding-left: 100px
    &-block:last-child
        display: flex
        justify-content: flex-end
        width: 60%
    &__subtitle
        font-size: 10px
    &__title
        margin-top: 27px
        font-size: 36px
    &__title span
        font-weight: 500
    &__text
        margin-top: 27px
        max-width: 413px
        margin-bottom: 55px
    &__btn
        width: 653px
        height: 436px
    &__img
        position: absolute

@media screen and (max-width: 1108px)
    .plan
        padding-top: 0
        &__wrapper
            padding-top: 50px
        &__text
            max-width: 700px
            margin: 0 auto
            margin-top: 25px
            margin-bottom: 35px
        &-block
            padding-top: 0
            width: 100%
            text-align: center
        &-block:last-child
            display: none
        &__img
            width: 630px
            height: 400px
    