.resours
    padding-top: 104px
    &-block
        display: flex
        justify-content: space-between
        align-items: center
        padding-bottom: 110px
    &__btn
        width: 23px
        height: 15px
        cursor: pointer
    &__slider
        border: 1px solid #D8E3FE
        max-width: 958px
        display: none
    &__content
        padding-top: 63px
        padding-bottom: 63px
        width: 50%
        &-footer
            margin-top: 44px
    &__content:first-child
        display: flex
    &__one
        margin-left: 32px
    &__img
        width: 126px
        height: 126px
    &__img:first-child
        margin-bottom: 13px
    &__one
        width: 267px;
        height: 267px
        margin-right: 13px
    &__title
        font-weight: normal
        font-size: 36px
        color: #3D4F9F
    &__text
        max-width: 400px
        margin-top: 32px
        font-size: 14px
    &__link:last-child
        background: #FFF
        color: #A6B6DA
    &__footer
        display: none

.active
    display: flex

@media screen and (max-width: 1030px)
    .resours
        &-block
            justify-content: space-evenly
        &__slider
            flex-direction: column
        &__content
            padding-top: 0
            padding-bottom: 0px
            width: 100%
            text-align: center
            &-left
                display: flex
                flex-direction: column
            &-footer
                margin-top: 25px
        &__content:last-child
            padding-top: 0
            padding-bottom: 20px
        &__one
            margin-left: 0
        &__text
            margin-top: 12px
@media screen and (max-width: 629px)
    .resours
        padding-bottom: 50px
        &-block
            padding-bottom: 30px
        &__content
            &-footer
                display: flex
                flex-direction: column
        &__link
            margin: auto
            width: 80%
        &__content:first-child
            justify-content: center
        &__one
            max-width: 167px
            max-height: 167px
        &__img
            max-width: 75px
            max-height: 76px
        &__title
            font-size: 25px
        &__text
            max-width: 300px
            font-size: 12px
            margin-top: 0
            text-align: center
        &__btn
            display: none
        &__footer
            display: flex
            justify-content: center
            &-btn 
                width: 23px
                height: 15px
                cursor: pointer
            &-btn:last-child
                margin-left: 20px