<!-- header -->
<header class="header">
    <div class="container">
        <div class="header__inner">
            <div class="header-block">
                <div class="logo">
                    <a class="logo__link" href="#">
                       <div class="logo__img"></div>
                    </a>
                    <!-- /.logo__link -->
                </div>
                <!-- /.logo -->
                <nav class="menu">
                    <ul class="menu__list">
                        <li class="menu__item">
                            <a href="" class="menu__link">Home</a>
                            <!-- /.menu__link -->
                        </li>
                        <!-- /.menu__item -->
                        <li class="menu__item">
                            <a href="" class="menu__link">Blog</a>
                            <!-- /.menu__link -->
                        </li>
                        <!-- /.menu__item -->
                        <li class="menu__item">
                            <a href="" class="menu__link">Features</a>
                            <!-- /.menu__link -->
                        </li>
                        <!-- /.menu__item -->
                        <li class="menu__item">
                            <a href="" class="menu__link">Pricing</a>
                            <!-- /.menu__link -->
                        </li>
                        <!-- /.menu__item -->
                        <li class="menu__item">
                            <a href="" class="menu__link">Documentation</a>
                            <!-- /.menu__link -->
                        </li>
                        <!-- /.menu__item -->
                    </ul>
                    <!-- /.menu__list -->
                </nav>
                <!-- /.menu -->
            </div>
            <div class="header-block">
                <div class="social">
                    <a href="#" class="social__link">
                        <img src="./img/icons.svg#img--header--fb" alt="fb" class="social__img">
                    </a>
                    <a href="#" class="social__link">
                        <img src="./img/icons.svg#img--header--tg" alt="telegram" class="social__img">
                    </a>
                    <a href="#" class="social__link">
                        <img src="./img/icons.svg#img--header--tw" alt="twitter" class="social__img">
                    </a>
                    <a href="#" class="social__link">
                        <img src="./img/icons.svg#img--header--m" alt="m" class="social__img">
                    </a>
                </div>
                <!-- /.social -->
                <a href="#" class="btn header__btn">Get started</a>
                <!-- /.header__btn -->
            </div>
            
        </div>
        <!-- /.header__inner -->
    </div>
    <!-- /.container -->
</header>
<!-- /.header -->