.header
    padding-top: 20px
    padding-bottom: 20px
    border-bottom:  2px solid #D8E3FE
    &__inner
        display: flex
    &-block
        width: 50%
        display: flex
        align-items: center
        justify-content: flex-start
    &-block:last-child
        justify-content: flex-end

.logo
    &__img
        width: 26px
        height: 26px
        border-radius: 50%
        background: #5E81FE

.menu
    &__list
        margin-left: 73px
        display: flex
    &__item
        margin-left: 42px
        font-size: 12px
        font-style: normal
    &__item:first-child
        margin-left: 0
    &__link
        color: #697CA6
    &__link:hover
        color: #5E81FE
    &__btn
    margin-left: 44px
.social
    margin-right: 44px
    display: flex
    min-width: 162px
    justify-content: space-between
    &__img
        height: 15px

@media screen and (max-width: 930px)
    .header
        &__inner
            justify-content: space-between
        &-block
            display: flex
            justify-content: space-between
    .social
        display: none
    .menu
        margin-left: 0
        &__list

@media screen and (max-width: 649px)
    .menu
        &__item
            margin-left: 20px

@media screen and (max-width: 579px)
    .menu
        &__list
            margin-left: 25px
        &__item
            font-size: 10px
@media screen and (max-width: 579px)
    .header
        &__btn
            font-size: 12px
@media screen and (max-width: 479px)
    .menu
        &__list
            margin-left: 15px
        &__item
            font-size: 9px
            margin-left: 6px
    .header
        &__btn
            font-size: 10px
@media screen and (max-width: 365px)
    .menu
        &__list
            margin-left: 5px
    .header
        &__btn
            font-size: 8px
            padding: 6px